{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
<title>Launder land | Dashboard</title>
{% endblock %}

{% block content %}

<body id="dashboard">
    <!-- ? Title -->
    <article class="bg_light_orange_2 container-fluid py-2">
        <section class="pr-md-auto pl-md-5 text-center text-md-left">
            <h3 class="brown mb-0 clamp_size_header">Dashboard</h3>
        </section>
    </article>
    <article class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            <!-- * For Customer to Book a laundry Now -->
            {% if user.user_type == 3 %}
            <a href="{% url 'laundry:booking' %}" class="nav-link btn-cust">
                <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                    <div class="card-body bg_light_orange_1 text-center brown rounded">
                        <div class="mx-auto img_body d-flex justify-content-center">
                            <img src="{% static 'images/booking.svg' %}" class="rounded" width="152"
                                alt="{{ staff.first_name }} image" style="z-index:500">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <h5 class="card-title brown bold">Book Now</h5>
                    </div>
                </section>
            </a>
            {% endif %}
            {% if user.user_type == 1 or user.user_type ==  2 %}
            <a href="{% url 'laundry:staff_all_booking' %}" class="nav-link btn-cust">
                {% else %}
                <a href="{% url 'laundry:mybooking' %}" class="nav-link btn-cust">
                    {% endif %}
                    <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                        <div class="card-body bg_light_orange_1 text-center brown rounded">
                            <div class="mx-auto img_body d-flex justify-content-center">
                                {% if user.user_type == 1 or user.user_type ==  2 %}
                                <img src="{% static 'images/staff_booking.svg' %}" class="rounded" width="180"
                                    alt="{{ staff.first_name }} image">
                                {% else %}
                                <img src="{% static 'images/customer_booking.svg' %}" class="rounded" width="155"
                                    alt="{{ staff.first_name }} image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <h5 class="card-title brown bold">My Bookings</h5>
                        </div>
                    </section>
                </a>
                <a href="{% url 'staffmodule:service'%}" class="nav-link btn-cust">
                    <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                        <div class="card-body bg_light_orange_1 text-center brown rounded">
                            <div class="mx-auto img_body d-flex justify-content-center">
                                <img src="{% static 'images/service.svg' %}" class="rounded" width="152"
                                    alt="{{ staff.first_name }} image" style="z-index:500">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <h5 class="card-title brown bold">Services</h5>
                        </div>
                    </section>
                </a>
                {% if user.user_type == 1 or user.user_type == 2 %}
                <a href="{% url 'staffmodule:staff_list' %}" class="nav-link btn-cust">
                    <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                        <div class="card-body bg_light_orange_1 text-center brown rounded">
                            <div class="mx-auto img_body d-flex justify-content-center">
                                <img src="{% static 'images/staff.svg' %}" class="rounded" width="280"
                                    alt="{{ staff.first_name }} image" style="z-index:500">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <h5 class="card-title brown bold">Staffs</h5>
                        </div>
                    </section>
                </a>
                <a href="{% url 'customermodule:customer_list' %}" class="nav-link btn-cust">
                    <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                        <div class="card-body bg_light_orange_1 text-center brown rounded">
                            <div class="mx-auto img_body d-flex justify-content-center">
                                <img src="{% static 'images/customer.svg' %}" class="rounded" width="150"
                                    alt="{{ staff.first_name }} image" style="z-index:500">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <h5 class="card-title brown bold">Customers</h5>
                        </div>
                    </section>
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'laundry:payment' %}" class="nav-link btn-cust">
                    <section class="card card-cust bg_light_orange_1 border-0 m-1" style="width: 18rem;">
                        <div class="card-body bg_light_orange_1 text-center brown rounded">
                            <div class="mx-auto img_body d-flex justify-content-center">
                                <img src="{% static 'images/payment.svg' %}" class="rounded" width="270"
                                    alt="{{ staff.first_name }} image" style="z-index:500">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <h5 class="card-title brown bold">Payment History</h5>
                        </div>
                    </section>
                </a>
                {% endif %}
        </div>
    </article>
</body>

{% endblock %}