{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Launder land | Edit Booking</title>
{% endblock %}

{% block content %}


<body id="booking">
    <!-- ? Booking Details Title -->
    <article class="bg_light_orange_2 container-fluid py-2">
        <section class="pr-md-auto pl-md-5 text-center text-md-left">
            <h3 class="brown mb-0 clamp_size_header">Edit Booking</h3>
        </section>
    </article>
    <article class="container p-0">
        <div class="bg-light box-shadow-lg rounded-lg px-4 py-3 my-5 bg_light_orange_1">
            <div class="px-lg-3">
                <div class="row">
                    <!-- ? Customer Detail -->
                    <section class="col-12 col-md-4 col-lg-3 px-0 brown text-center">
                        <h3 class="mb-2">Customer Detail</h3>
                        <div class="mx-auto d-flex justify-content-center mb-2">
                            <img src="{{ booking.cust_id.profile_pic.url }}" class="rounded-circle" width="100"
                                alt="{{ booking.cust_id.first_name }}" />
                        </div>
                        <div>
                            <small>Name : {{ booking.cust_id.first_name }} {{ booking.cust_id.last_name }}</small>
                        </div>
                        <div>
                            <small>Contact : {{ booking.cust_id.mobile }}</small>
                        </div>
                        <div>
                            <small>Address : {{ booking.cust_id.address }}</small>
                        </div>
                        <div>
                            <small>Street : {{ booking.cust_id.street }}</small>
                        </div>
                        <div>
                            <small>City : {{ booking.cust_id.city }}</small>
                        </div>
                        <div class="mb-2">
                            <small>Pincode : {{ booking.cust_id.pincode }}</small>
                        </div>
                        {% if user.user_type == 1 %}
                        <!-- ? Staff Detail -->
                        <div class="border-top my-2" style="border-color: #540c0b!important;">
                            <h3 class="my-2">Staff Detail</h3>
                            <div class="mx-auto d-flex justify-content-center mb-2">
                                <img src="{{ booking.assigned_staff.profile_pic.url }}" class="rounded-circle"
                                    width="100" alt="{{ booking.assigned_staff.first_name }}" />
                            </div>
                            <div>
                                <small>Name : {{ booking.assigned_staff.first_name }}
                                    {{ booking.assigned_staff.last_name }}</small>
                            </div>
                            <div>
                                <small>Contact : {{ booking.assigned_staff.mobile }}</small>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                    <!-- ? Booking Details -->
                    <section class="col-12 col-md-8 col-lg-9">
                        <div class="card border-0">
                            <div class="card-body brown rounded">
                                <table class="table brown borderless">
                                    <thead>
                                        <tr>
                                            <h5 class="card-title float-right badge rounded-pill
                                                    {% if booking.status == 'delivered' %}
                                                    badge-success
                                                    {% elif booking.status == 'ready' %}
                                                    badge-info
                                                    {% elif booking.status == 'cleaning' %}
                                                    badge-secondary
                                                    {% elif booking.status == 'pickedup' %}
                                                    badge-primary
                                                    {% elif booking.status == 'pending' %}
                                                    badge-warning
                                                    {% elif booking.status == 'canceled' %}
                                                    badge-danger
                                                    {% endif %}">
                                                {{ booking.status }}
                                            </h5>
                                            {% if booking.status != "delivered" and booking.status != "canceled" %}
                                            <form class="form" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group col-md-3">
                                                    {{ form.status|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <button type="submit"
                                                        class="btn bg_orange_1 btn-cust btn-block mb-3 brown">
                                                        Save
                                                    </button>
                                                </div>
                                            </form>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="px-0" scope="row">Booking Id</th>
                                            <th>:</th>
                                            <td class="px-0">{{ booking.id }}</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Requested Service</th>
                                            <th>:</th>
                                            <td class="px-0">{{ booking.services }} [{{ booking.sub_service }}]</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Quantity</th>
                                            <th>:</th>
                                            <td class="px-0">{{ booking.quantity }}</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Delivery Type</th>
                                            <th>:</th>
                                            <td class="px-0">
                                                {{ booking.delivery_type }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Amount</th>
                                            <th>:</th>
                                            <td class="px-0">
                                                &#x20B9; {{ booking.amount|default:"----" }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Booked On</th>
                                            <th>:</th>
                                            <td class="px-0">
                                                {{ booking.booked_on }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Payment Status</th>
                                            <th>:</th>
                                            <td class="px-0">
                                                {% if payments.status == "paid" %}
                                                {{ payments.status }}
                                                {% else %}
                                                Not Paid
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</body>

{% endblock %}