{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
<title>Launder land | Staff List</title>
{% endblock %}

{% block content %}

<body id="staff_stuffs">
    <!-- ? Staff List Title -->
    <article class="bg_light_orange_2 container-fluid py-2">
        <section class="pr-md-auto pl-md-5 text-center text-md-left">
            <h3 class="brown mb-0 clamp_size_header">Staffs</h3>
        </section>
    </article>
    <article class="container-fluid my-2">
        <div class="row d-flex justify-content-center">
            {% for staff in staffs %}
            <section class="card bg-transparent border-0 m-2" style="width: 18rem;">
                <div class="mx-auto img_body d-flex">
                    <img src="{{ staff.profile_pic.url }}" class="rounded-circle mb-n5" width="95"
                        alt="{{ staff.first_name }} image" style="z-index:500">
                </div>
                <div class="card-body bg_light_orange_1 text-center brown rounded">
                    <h5 class="card-title pt-5">{{ staff.first_name }}</h5>
                    <h5 class="card-title">{{ staff.email }}</h5>
                    <h5 class="card-title">{{ staff.mobile }}</h5>
                    <a href="{% url 'staffmodule:staff_details' staff.id %}"
                        class="btn btn-cust bg_orange_1 rounded-pill brown bold">View
                        Details</a>
                </div>
            </section>
            {% endfor %}
        </div>
    </article>
</body>

{% endblock %}