{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
<title>Launder land | Customer Details</title>
{% endblock %}

{% block content %}

<body id="customer_stuffs">
    <!-- ? Customer Details Title -->

    <article class="bg_light_orange_2 container-fluid py-2">
        <section class="pr-md-auto pl-md-5 text-center text-md-left">
            <h3 class="brown mb-0 clamp_size_header">Customer Detail</h3>
        </section>
    </article>

    <article class="container p-0">
        <!-- ? Image + details -->
        <div class="bg-light box-shadow-lg rounded-lg px-4 py-3 my-5 bg_light_orange_1">
            <div class="px-lg-3">
                <div class="row">
                    <!-- ? customer Image -->
                    <section class="col-12 col-md-4 col-lg-3 px-0">
                        <div class="mx-auto d-flex justify-content-center mb-4">
                            <img src="{{ customer.profile_pic.url }}" class="rounded-circle" width="220"
                                alt="{{ customer.first_name }}" />
                        </div>
                    </section>
                    <!-- ? customer Details -->
                    <section class="col-12 col-md-8 col-lg-9">
                        <div class="card border-0">
                            <div class="card-body brown rounded">
                                {% if status_time %}
                                <h5 class="card-title float-right badge badge-success rounded-pill mb-0">
                                    active
                                </h5>
                                {% else %}
                                <h5 class="card-title float-right badge badge-warning rounded-pill mb-0">
                                    inactive
                                </h5>
                                {% endif %}
                                <h4 class="h4 bold">{{ customer.last_name }}, {{ customer.first_name }}</h4>
                                <small>{% if customer.user_type == 2 %}Staff{% elif customer.user_type == 3 %}Customer{% endif %}</small>
                                <table class="table brown borderless">
                                    <tbody>
                                        <tr>
                                            <th class="px-0" scope="row">Mobile</th>
                                            <th>:</th>
                                            <td class="px-0">+91 {{ customer.mobile }}</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row">Email</th>
                                            <th>:</th>
                                            <td class="px-0">{{customer.email}}</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0 pb-0" scope="row">Address</th>
                                            <th class="pb-0">:</th>
                                            <td class="px-0 pb-0">
                                                {% for addr in customer.address.split %}{{addr}}{% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row"></th>
                                            <th></th>
                                            <td class="p-0">{{customer.street}},</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row"></th>
                                            <th></th>
                                            <td class="p-0">{{customer.city}},</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row"></th>
                                            <th></th>
                                            <td class="p-0">{{customer.state}}.</td>
                                        </tr>
                                        <tr>
                                            <th class="px-0" scope="row"></th>
                                            <th></th>
                                            <td class="p-0">{{customer.pincode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</body>

{% endblock %}