{% load static %}

<div class="row mx-0 text-center">
    <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'images/logo.png' %}" alt="" width="24" height="24">
        <small class="d-block mb-3 brown">© 2015-2020</small>
    </div>
    <div class="col-12 col-md">
        <h5 class="bold">Features</h5>
        <ul class="list-unstyled text-small brown">
            <li><a class="text-muted nav-link brown" href="#">Detailed inspection</a></li>
            <li><a class="text-muted nav-link brown" href="#">
                    Premium cleaning</a></li>
            <li><a class="text-muted nav-link brown" href="#">
                    Your preferences nav-link brown</a></li>
            <li><a class="text-muted nav-link brown" href="#">Expert care</a></li>
            <li><a class="text-muted nav-link brown" href="#">Pressed and hung</a></li>
        </ul>
    </div>
    <div class="col-12 col-md">
        <h5 class="bold">Connect</h5>
        <ul class="list-unstyled text-small brown">
            <li><a class="text-muted nav-link brown" href="#">Blog</a></li>
            <li><a class="text-muted nav-link brown" href="#">Facebook</a></li>
            <li><a class="text-muted nav-link brown" href="#">Instagram</a></li>
            <li><a class="text-muted nav-link brown" href="#">Twitter</a></li>
        </ul>
    </div>
    <div class="col-12 col-md">
        <h5 class="bold">Company</h5>
        <ul class="list-unstyled text-small brown">
            <li><a class="text-muted nav-link brown" href="#">About</a></li>
            <li><a class="text-muted nav-link brown" href="#">Carrers</a></li>
            <li><a class="text-muted nav-link brown" href="#">Contact</a></li>
            <li><a class="text-muted nav-link brown" href="#">FAQs</a></li>
            <li><a class="text-muted nav-link brown" href="#">Terms</a></li>
        </ul>
    </div>
</div>