{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
<title>Launder land</title>
{% endblock %}

{% block content %}

<body id="home_body">
    <section class="p-3">
        <div class="row d-flex justify-content-center align-items-center" style="height: 90vh;">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-8 text-left brown">
                <h1 class="bold">
                    Your Dry Cleaning<br>and Laundry. Done.
                </h1>
                <div class="mb-4">
                    <p class="lead">
                        Launder land picks up, cleans & delivers.<br>
                        Now you have time for what really matters.
                    </p>
                </div>
                <a href="{% url 'laundry:laundry' %}"
                    class="btn btn-lg btn-white mx-1 bg_light_orange_1 brown rounded-pill bold">Dashboard</a>
                {% if user.user_type == 1 or user.user_type == 2 %}
                <a href="{% url 'laundry:staff_all_booking' %}"
                    class="btn btn-lg btn-cust bg_orange_1 mx-1 light_orange_1 rounded-pill bold">Check Bookings</a>
                {% else %}
                <a href="{% url 'laundry:booking' %}"
                    class="btn btn-lg btn-cust bg_orange_1 mx-1 light_orange_1 rounded-pill bold">Book Now</a>
                {% endif %}
            </div>
        </div>
    </section>
</body>

{% endblock %}